@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 .main{
    background-image: url('../images/bg-4.png'); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
 }
  h2  {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
  }
.table{
  margin-bottom: auto;
}

  .content-table {
    border-collapse: collapse;
    width: 70%;
    margin-bottom: auto;
    font-family: "Rubik", sans-serif;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: rgb(235, 222, 222);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: rgba(0, 0, 0, 0.767);
    color:white;
    text-align: left;
    font-weight: bold;
    height: 50px;
  }

 
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: rgb(216, 181, 116);
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
  }
  
  .fa-bars {
    color: black !important;
    font-size: 40px !important;
  }
    a {
    font-family: "Rubik", sans-serif;
    font-size: 0.9em;
    color: black;
  }
  .navbar-toggler {
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
  }
  
  .nav-item {
    margin-left: 40px;
    margin-bottom: 10px;

  }
.nav-link {
    color: white;
    font-size: 17px;
    padding: 0 0 5px 0 !important;
    display: unset !important;
  }
  
  .message-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #f08080 !important;
    cursor: pointer;
    box-shadow: 0 7px #8b0000;
  }
 
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

 
